@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400..700;1,400..700&display=swap');

html {
    font-family:
        'Inter',
        -system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Helvetica Neue',
        Helvetica,
        SimHei,
        'Segoe UI',
        Roboto,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
}

code,
pre,
tt,
kbd,
samp {
    font-family:
        'Source Code Pro', Menlo, Consolas, 'Liberation Mono', monospace;
    font-weight: 500;
}
