{{- if or .Params.categories .Params.tags -}}
<section class="article-labels">
    <!-- {{- range .Params.categories -}} -->
    <!-- {{- $url := print "/categories/" (. | urlize) "/" -}} -->
    <!-- <a class="article-category li" href={{- $url | relURL -}}><span class="hashtag">#</span>{{- . -}}</a> -->
    <!-- {{- end -}} -->
    {{- range .Params.tags -}}
    {{- $tagName := . -}}
    {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" (. | urlize)) -}}
    <a class="article-tag li" href="{{ .Permalink }}"><span class="hashtag">#</span>{{- $tagName -}}</a>
    {{- end -}}
    {{- end -}}
</section>
{{- end -}}