{{- $globalComments := .Site.Params.comments.enable | default false -}}
{{- $pageComments := .Params.comments | default true -}}

{{- if and $globalComments $pageComments }}
    {{- if and
        (.Params.disqus.enable | default .Site.Params.disqus.enable)
        (.Params.disqus.shortname | default .Site.Params.disqus.shortname)
    }}
    <section class="article-discussion">
        {{- template "_internal/disqus.html" . -}}
    </section>
    {{- else if .Params.giscus.enable | default .Site.Params.giscus.enable }}
    <script src="https://giscus.app/client.js"
            data-repo={{ .Site.Params.giscus.repo }}
            data-repo-id={{ .Site.Params.giscus.repoID }}
            data-category={{ .Site.Params.giscus.category }}
            data-category-id={{ .Site.Params.giscus.categoryID }}
            data-mapping="title"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-theme={{ .Site.Params.giscus.dataTheme }}
            data-lang={{ .Site.Params.giscus.dataLang }}
            crossorigin="anonymous"
            async>
    </script>
    {{- else if .Params.utterances.enable | default .Site.Params.utterances.enable }}
    <script src="https://utteranc.es/client.js"
            repo={{ .Site.Params.utterances.repo }}
            issue-term={{ .Site.Params.utterances.issueTerm }}
            theme={{ .Site.Params.utterances.theme }}
            crossorigin="anonymous"
            async>
    </script>
    {{- end }}
{{- end}}
