<section id="header" class="header">
  <div class="header-left">
    <a href="{{ site.Home.RelPermalink }}">
      {{- $logo := .Site.Params.logo -}} {{- if $logo -}}
      <img class="site-logo" src="{{- $logo | relURL -}}" alt="{{ site.Title }} logo" />
      {{- end -}}
      <p class="site-name">{{- site.Title -}}</p>
    </a>
    {{- with .Site.Params.slogan -}}
    <div class="site-slogan">
      <p class="title">{{- . | safeHTML -}}</p>
    </div>
    {{- end -}}
  </div>
  <div class="header-right">
    {{- partial "navigation-items.html" .Site.Params.nav -}}
  </div>
</section>
