<div class="note-list-wrapper">
{{ partial "search.html" }}

{{- $paginator := . -}}

{{- if gt $paginator.TotalPages 0 -}}
<ul class="note-list">
    {{- range $paginator.Pages -}}
    {{- if not .Params.hidden -}}
    <li class="item">
        <a class="note" href="{{- .RelPermalink -}}" aria-label="Read {{- .Title | plainify -}}">
            <p class="note-title">{{- .Title | safeHTML -}}</p>
        </a>
            <p class="note-meta">
                {{- if .Date -}}<span class="note-date">{{- .Date.Format "2006-01-02" -}}</span>{{- end -}}
                {{- if gt .ReadingTime 0 -}}
                    <span class="note-reading-time">&nbsp;&middot;&nbsp;{{- .ReadingTime -}} min read</span>
                {{- end -}}
                {{- if .Params.categories -}}
                    <span class="note-categories">
                        &nbsp;&middot;&nbsp;
                        {{- range $i, $cat := .Params.categories -}}
                            {{- if $i -}}, {{ end -}}
                            {{- $cat -}}
                        {{- end -}}
                    </span>
                {{- end -}}
            </p>
        {{- $relURL := .RelPermalink -}}
        {{- with .Params.imgs -}}
            {{- $imgCount := len . -}}
            {{- if eq $imgCount 1 -}}
                <span class="note-imgs single-img">
                    {{- range . -}}
                    {{- $imgurl := lower . -}}
                    {{- if and (not (hasPrefix $imgurl "http://")) (not (hasPrefix $imgurl "https://")) -}}
                        {{- $imgurl = path.Join $relURL . -}}
                    {{- end -}}
                    <img class="img" src="{{- $imgurl -}}" alt="Featured image preview" />
                    {{- end -}}
                </span>
            {{- else if gt $imgCount 1 -}}
                <span class="note-imgs multi-imgs">
                    {{- range . -}}
                    {{- $imgurl := lower . -}}
                    {{- if and (not (hasPrefix $imgurl "http://")) (not (hasPrefix $imgurl "https://")) -}}
                        {{- $imgurl = path.Join $relURL . -}}
                    {{- end -}}
                    <img class="img" src="{{- $imgurl -}}" alt="Preview image" />
                    {{- end -}}
                </span>
            {{- end -}}
        {{- end -}}
            {{- $summary := "" -}}
            {{- if .Description -}}
                {{- $summary = .Description -}}
            {{- else if .Summary -}}
                {{- $summary = .Summary | plainify | safeHTML | truncate (default 120 .Site.Params.summaryLength) -}}
            {{- end -}}
            {{- if $summary -}}<p class="note-content">{{- $summary | safeHTML -}}</p>{{- end -}}

        {{- if or .Params.categories .Params.tags -}}
            <p class="note-labels">
                {{- range .Params.tags -}}
                {{- $url := print "tags/" ( . | urlize) "/" -}}
                <a class="article-tag" href="{{- $url | relURL -}}"><span class="hashtag">#</span>{{- . -}}</a>
                {{- end -}}
            </p>
        {{- end -}}
    </li>
    {{- end -}}
    {{- end -}}
</ul>
{{- end -}}
</div>
